<div class="card centrar">
    <div class="row">
        <form class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Ingrese Datos de Acceso</h1>
            <label for="inputEmail" class="sr-only">Usuario</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Correo Electronico" required autofocus>
            <label for="inputPassword" class="sr-only">Contraseña</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
            <a href="/Side-bar-menu" class="btn btn-lg btn-primary btn-block" >Ingresar</a>
            <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
        </form>
        <div class="logologin">
            <img src="https://cdn.discordapp.com/attachments/757950537441214539/780597760767950868/LogoMakr-8cv7Xg.png" alt="imagenlogo" width="250" >
        </div>    
    </div>
</div>