<app-sidebar>
    <div class="card mt-5 ml-3 mr-3 col-xl">
        <h5 class="card-header">Admision de Nuevos Usuarios</h5>
        <div class="card-body">
            <div class="container col-xl">
                <h6 class="mb-4">Datos de Ingreso:</h6>
                <div class="row">
                    <div class="container col-xl">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="firstName">ID Usuario:</label>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input class="form-control" type="number" value="" min="1" max="9999" id="example-number-input" pattern="\d+">
                                <div class="invalid-feedback">
                                    Se requiere un ID válido.
                                </div>
                                <div class="col-md-3 mb-3"></div>
                            </div>
                        </div>
                    </div> 
                    <div class="container col-xl">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="firstName">Departamento:</label>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="departamento" placeholder="" value="" required maxlength="30">
                                <div class="col-md-3 mb-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="container col-xl">
                <div class="row">
                    <div class="container col-xl">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                            <label for="firstName">RUT de usuario:</label>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="RUTUser" placeholder="" value="" required maxlength="12">
                                <div class="col-md-3 mb-3"></div>      
                            </div>
                        </div>
                    </div> 
                    <div class="container col-xl">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="firstName">Correo Contacto:</label>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="RUTUser" placeholder="" value="" required maxlength="30">
                                <div class="col-md-3 mb-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="container col-xl">
                <div class="row">
                    <div class="container col-xl">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                            <label for="firstName">Nombre Usuario:</label>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="nombreUser" placeholder="" value="" required maxlength="30">
                                <div class="col-md-3 mb-3"></div>      
                            </div>                        
                        </div>
                    </div> 
                    <div class="container col-xl">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="firstName">Fecha de Nacimiento:</label>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="date" class="form-control" id="fechanacimiento" placeholder="" value="" requiredvalue="01-01-1999">
                                <div class="col-md-3 mb-3"></div>      
                            </div> 
                        </div>
                    </div>
                </div>
            </div> 
            <div class="container col-xl">
                <div class="row">
                    <div class="container col-xl">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                            <label for="firstName">Apellidos Usuario:</label>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="lastName" placeholder="" value="" required maxlength="30">
                                <div class="col-md-3 mb-3"></div>      
                            </div>
                        </div>
                    </div> 
                    <div class="container col-xl">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="firstName">Tipo de Usuario:</label>
                            </div>
                            <div class="col-md-6 mb-3">
                                <select class="form-control">
                                    <option>-Seleccionar-</option>
                                    <option>Soporte</option>
                                    <option>Administrativo</option>                                
                                    <option>Jefe Departamento</option>                                
                                    <option>Vendedores</option>
                                </select>
                                <div class="col-md-3 mb-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="card-body text-right">
            <a href="#" class="btn btn-primary btn-dark" onclick="this.blur();">Guardar Cambios</a>
        </div>
    </div>
</app-sidebar>
