<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h1 class="text-center">Bearings</h1>
            <h5 class="text-center mr-0">Empresa de rodamientos</h5>
        </div>
        <ul class="lisst-unstyled components">
            <li>
                <a href="#pageSubmenu" data-target="#subMantenciones" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle" aria-expanded="false" aria-controls="subMantenciones">Mantenciones</a>
                <ul class="collapse list-unstyled" id="subMantenciones" aria-labelledby="subMantenciones">
                    <li>
                        <a class="nav-link" href="mostrar-mantenciones" >Mostrar mantenciones</a>
                    </li>
                    <li>
                        <a class="nav-link" href="agregar-mantenciones" routerLink="/agregar-mantenciones" [routerLinkActive]= "'active'">Agregar mantenciones</a>
                    </li>
                    <li>
                       <a class="nav-link" href="cmodificar-mantenciones" routerLink="/cmodificar-mantenciones" [routerLinkActive]= "'active'">Modificar mantenciones</a>
                    </li>
                    <li>
                       <a class="nav-link" href="eliminar-mantenciones" routerLink="/eliminar-mantenciones" [routerLinkActive]= "'active'">Eliminar mantenciones</a>
                   </li>
                </ul>
            </li>

            <!--<li>
                <a href="#pageSubmenu" data-target="#subHonorarios" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle" aria-expanded="false" aria-controls="subHonorarios">Honorarios</a>
                <ul class="collapse list-unstyled" id="subHonorarios" aria-labelledby="subHonorarios">
                    <li>
                        <a class="nav-link" href="" routerLink="" [routerLinkActive]= "'active'" >Mostrar Honorarios</a>
                    </li>
                    <li>
                        <a class="nav-link" href="" routerLink="" [routerLinkActive]= "'active'">Agregar Honorarios</a>
                    </li>
                    <li>
                       <a class="nav-link" href="" routerLink="" [routerLinkActive]= "'active'">Modificar Honorarios</a>
                    </li>
                    <li>
                       <a class="nav-link" href="" routerLink="" [routerLinkActive]= "'active'">Eliminar Honorarios</a>
                   </li>
                </ul>
            </li>-->

            <li>
                <a href="#pageSubmenu" data-target="#subLicencias" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle" aria-expanded="false" aria-controls="subLicencias">Licencias</a>
                <ul class="collapse list-unstyled" id="subLicencias" aria-labelledby="subLicencias">
                    <li>
                        <a class="nav-link" href="mostrar-licencias" routerLink="/mostrar-licencias" [routerLinkActive]= "'active'" >Mostrar Licencias</a>
                    </li>
                    <li>
                        <a class="nav-link" href="agregar-licencias" routerLink="/agregar-licencias" [routerLinkActive]= "'active'">Agregar Licencias</a>
                    </li>
                    <li>
                       <a class="nav-link" href="cmodificar-licencias" routerLink="/cmodificar-licencias" [routerLinkActive]= "'active'">Modificar Licencias</a>
                    </li>
                    <li>
                       <a class="nav-link" href="eliminar-licencias" routerLink="/eliminar-licencias" [routerLinkActive]= "'active'">Eliminar Licencias</a>
                   </li>
                </ul>
            </li>

            <li>
                <a href="#pageSubmenu" data-target="#subEquipos" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle" aria-expanded="false" aria-controls="subEquipos">Equipos</a>
                <ul class="collapse list-unstyled" id="subEquipos" aria-labelledby="subEquipos">
                    <li>
                        <a class="nav-link" href="mostrar-equipos" routerLink="/mostrar-equipos" [routerLinkActive]= "'active'" >Mostrar equipos</a>
                    </li>
                    <li>
                        <a class="nav-link" href="agregar-equipos" routerLink="/agregar-equipos" [routerLinkActive]= "'active'" >Agregar equipos</a>
                    </li>
                    <li>
                       <a class="nav-link" href="cmodificar-equipos" routerLink="/cmodificar-equipos" [routerLinkActive]= "'active'">Modificar equipos</a>
                    </li>
                    <li>
                       <a class="nav-link" href="eliminar-equipos" routerLink="/eliminar-equipos" [routerLinkActive]= "'active'">Eliminar equipos</a>
                   </li>
                </ul>
            </li>
   
            <li>
                <a href="#pageSubmenu" data-target="#subGUsuarios" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle" aria-expanded="false" aria-controls="subGUsuarios">Gestión de usuarios</a>
                <ul class="collapse list-unstyled" id="subGUsuarios" aria-labelledby="subGUsuarios">
                    <li>
                        <a class="nav-link" href="mostrar-usuarios" routerLink="/mostrar-usuarios" [routerLinkActive]= "'active'" >Mostrar usuarios</a>
                    </li>
                    <li>
                        <a class="nav-link" href="agregar-usuarios" routerLink="/agregar-usuarios" [routerLinkActive]= "'active'">Agregar usuarios</a>
                    </li>
                    <li>
                       <a class="nav-link" href="modificar-usuarios" routerLink="/modificar-usuarios" [routerLinkActive]= "'active'">Modificar usuarios</a>
                    </li>
                    <li>
                       <a class="nav-link" href="eliminar-usuarios" routerLink="/eliminar-usuarios" [routerLinkActive]= "'active'">Eliminar usuarios</a>
                   </li>
                </ul>
            </li>

            <li>
                <a href="#pageSubmenu" data-target="#subAcceso" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle" aria-expanded="false" aria-controls="subAcceso">Gestión de acceso</a>
                <ul class="collapse list-unstyled" id="subAcceso" aria-labelledby="subAcceso">
                    <li>
                        <a class="nav-link" href="mostrar-acceso" routerLink="/mostrar-acceso" [routerLinkActive]= "'active'" >Mostrar Gestion Acceso</a>
                    </li>
                    <li>
                       <a class="nav-link" href="modificar-acceso" routerLink="/modificar-acceso" [routerLinkActive]= "'active'">Modificar Acceso</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#pageSubmenu" data-target="#subCredenciales" data-toggle="collapse" aria-expanded="true" class="dropdown-toggle" aria-expanded="false" aria-controls="subCredenciales">Gestión de credenciales</a>
                <ul class="collapse list-unstyled" id="subCredenciales" aria-labelledby="subCredenciales">
                    <li>
                        <a class="nav-link" href="mostrar-credenciales" routerLink="/mostrar-credenciales" [routerLinkActive]= "'active'" >Mostrar Gestion Credenciales</a>
                    </li>
                    <li>
                       <a class="nav-link" href="modificar-credenciales" routerLink="/modificar-credenciales" [routerLinkActive]= "'active'">Modificar Credenciales</a>
                    </li>
                </ul>
            </li> 
        </ul>
        <a href="" class="btn btn-lg btn-primary btn-block" >Cerrar Sesión</a>
    </nav>
    <div id="content">
        <app-navbar></app-navbar>
        <div class= "container-fluid">
            <ng-content></ng-content>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
   
   
   
 
   
   
   
   
   
   
   
   
   
   
   
 