<app-sidebar>
    <div class="card mt-5 ml-3 mr-3 col-xl">
        <h5 class="card-header">Agregar Licencias</h5>
        <div class="card-body">
            <div class="container col-xl">
                <h6 class="mb-4">Filtros de búsqueda:</h6>
                <div class="row">
                    <div class="container col-xl">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="firstName">ID-Licencias:</label>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input class="form-control" type="number" value="" min="1" max="9999" id="example-number-input" pattern="\d+">
                                <div class="invalid-feedback">
                                    Se requiere un nombre válido.
                                </div>
                                <div class="col-md-3 mb-3"></div>
                            </div>
                        </div>
                    </div> 
                    <div class="container col-xl">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="firstName">Serial:</label>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input class="form-control" type="number" value="" min="1" max="9999" id="example-number-input" pattern="\d+">
                                <div class="col-md-3 mb-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="container col-xl">
                <div class="row">
                    <div class="container col-xl">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="firstName">Nombre de Licencia:</label>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="text" class="form-control" id="lastName" placeholder="" value="" required maxlength="30">
                                <div class="col-md-3 mb-3"></div>  
                            </div>
                        </div>
                    </div> 
                    <div class="container col-xl">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                            <label for="firstName">Cantidad Disponible:</label>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input class="form-control" type="number" value="" min="1" max="9999" id="example-number-input" pattern="\d+">
                                <div class="col-md-3 mb-3"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="container col-xl">
                <div class="row">
                    <div class="container col-xl">
                        <div class="row">
                            <div class="col-md-3 mb-3 px-md-0 ">
                                <label for="firstName ">Valor:</label>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input class="form-control" type="number" value="" min="1" max="9999" id="example-number-input" pattern="\d+">
                                <div class="col-md-3 mb-3"></div>  
                            </div>
                        </div>
                    </div> 
                    <div class="container col-xl">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="firstName">Fecha de Compra:</label>
                            </div>
                            <div class="col-md-6 mb-3">
                                <input type="date" class="form-control" id="fecha_compra" placeholder="" value="" requiredvalue="01-01-1999">
                                <div class="col-md-3 mb-3"></div>
                            </div> 
                        </div>
                    </div>
                </div> 
                <button type="button" class="btn btn-dark " onclick="this.blur();">Guardar</button>
            </div>
        </div>
    </div>
</app-sidebar>   